.bg-custom {
  background-image: url('../src/assets/Frame\ 1\ \(2\).png');
  background-size: cover;
  background-position: center;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Set width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #c2ebc2;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7abf7a; /* Darker thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #37a937; /* Lighter on hover */
}

/* Custom Scrollbar for Admin */
.custom-scrollbar-admin::-webkit-scrollbar {
  width: 3px; /* Set width */
}

.custom-scrollbar-admin::-webkit-scrollbar-track {
  background: #37a937; /* Dark background */
  border-radius: 10px;
}

.custom-scrollbar-admin::-webkit-scrollbar-thumb {
  background: #ffffff; /* Darker thumb */
  border-radius: 10px;
}

.custom-scrollbar-admin::-webkit-scrollbar-thumb:hover {
  background: #c2ebc2;
}
